@model TravelExperts.Models.ViewModel.BuyPackageViewModel

@{
    ViewData["Title"] = "Buy package";


}

<h1>Purchase Package</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BuyPackage" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="packages.PackageId" value="@ViewBag.PackageId" />

            <div class="form-group">
                <label asp-for="booking.TravelerCount" class="control-label">Please enter your traveler count</label>
                <input asp-for="booking.TravelerCount" class="form-control" />
                <span asp-validation-for="booking.TravelerCount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
<<<<<<< HEAD
                <label asp-for="booking.TripTypeId" class="control-label">Please select your trip type</label>
                <select name="TripTypeId" asp-Items="@ViewBag.TripTypeLetter" class="control-label">Please select your trip type</select>
=======
                <label asp-for="booking.TravelerCount" class="control-label">Please select your trip type</label>
                <select name="TripTypeId" asp-Items="@ViewBag.TripTypes" class="form-control"></select>
>>>>>>> 1ea8830b1c5ceb54cc75fd190a5c9e04e3fe416f
                <span asp-validation-for="booking.TripTypeId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Buy Package" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to packages</a>
</div>
