@model BuyPackageViewModel

@{
    ViewData["Title"] = "Buy package";
}

@if (Model.TripTypes != null)
{
<main class="glass">

    <h1>Purchase package</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="BuyPackage" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Booking.PackageId" value="@Model.PackageId" />
                <input type="hidden" asp-for="PackageId" value="@Model.PackageId" />

                <div class="form-floating mb-3 border border-black">
                    <input asp-for="Booking.TripTypeId" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Booking.TripTypeId" class="ms-2 text-muted">Please enter your traveler count</label>
                    <span asp-validation-for="Booking.TripTypeId" class="text-danger"></span>
                </div>

                
                <br />
                <div class="form-group">
                    <label asp-for="Booking.TripTypeId" class="control-label">Please select your trip type</label>
                    <select asp-for="Booking.TripTypeId" class="form-control" asp-items="@(new SelectList(Model.TripTypes, "ID", "TripTypeName"))">
                        <option value="">--Select Trip Type--</option>
                    </select>
                    <span asp-validation-for="Booking.TripTypeId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Buy Package" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-warning">Back to packages</a>
                </div>
            </form>
        </div>
    </div>
</main>
}
else
{
    <p>Something went wrong. Please try again later.</p>
}

@if (ViewBag.Errors != null)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewBag.Errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}
