@{
    ViewData["Title"] = "Customer Not Found";
}

<main>
    <div class="container">
       
        <div class="row">
            <div class="col">
                <h2>Your account was not found in the database.</h2>
                <p class="my-2">
                    Please contact the server administrator.  
                </p>
            </div>
        </div>
    </div>
</main>