﻿
@model IEnumerable<TravelExperts.Models.ViewModel.CardVM>

@{
    ViewData["Title"] = "Home Page";
}
<style>

    .card {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .glass {
        background: rgba(240,173,78,0.6);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        border: 1px solid rgba(240,173,78,0.3);
        padding: 2rem;
        border-radius: 2rem;
    }
</style>


<main class="glass">
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <h1 class="text-primary-emphasis">Welcome to Travel Experts</h1>
                <p class="text-secondary">Travel Experts is a travel agency that provides a variety of travel services to customers. 
                    We offer a wide range of vacation packages, cruises, flights, hotels, and car rentals. 
                    Our goal is to provide our customers with the best travel experience possible. 
                    Whether you are planning a family vacation, a romantic getaway, or a business trip, 
                    Travel Experts can help you find the perfect travel package to suit your needs.
                </p>
                <div class="mt-2">
                    <a asp-controller="Package" asp-action="Index" class="btn btn-warning" >View Packages</a>
                    <a asp-action="Contact" class="btn btn-primary">Contact Us</a>
                </div>
            </div>
            <div class="col align-self-end text-center">
                <partial name="_CarouselPartial"/>
            </div>
        </div>
        
       
    </div>
    
    <div class="container mt-5">
       
        <div class="row">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                        <h4 class="fs-6 mb-2 text-primary text-center text-uppercase">What We Do?</h4>
                        <h2 class="display-5 mb-5 text-center text-info">We are giving you perfect solutions with our proficient services.</h2>
                        <hr class="w-50 mx-auto mb-2 mb-xl-3 border-dark-subtle">
                    </div>
                </div>
            </div>
            <div class="col">

                <div class="d-flex gap-3 justify-content-center">
                    @foreach (var card in Model)
                    {
                        @Html.Partial("_CardPartial", card)
                    }
                </div>

            </div>
        </div>
    </div>
    

</main>