@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="navbar-nav">
    <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a></li>
    <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a></li>
</ul>