@inject SignInManager<Customer> SignInManager


@if (User.Identity.IsAuthenticated)
{
    <p>Welcome, @User.Identity.Name!</p>
}
else
{
    
<ul class="navbar-nav">
    <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a></li>
    <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a></li>
</ul>
}